[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
renogy-ble = "*"
matplotlib = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
daily = "python export.py"
hqst = "python hqst_export.py"
enphase = "python enphase_export.py"
consumption = "python enphase_export.py"
post = "python -c 'from utils.update_post import post_solar_update; post_solar_update()'"
api = "python app.py"
